In [1]:
import numpy as np
from IPython.display import display
import pandas as pd

In [21]:
pd.read_csv("hw_mobile.csv")

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77.0,26.55,215.5,126.0,18.32,279.1,83.0,12.56,9.9,6,2.67,2.0,False
3329,WV,68,415,No,No,0,231.1,57.0,39.29,153.4,55.0,13.04,191.3,123.0,8.61,9.6,4,2.59,3.0,False
3330,RI,28,510,No,No,0,180.8,109.0,30.74,288.8,58.0,24.55,191.9,91.0,8.64,14.1,6,3.81,2.0,False
3331,CT,184,510,Yes,No,0,213.8,105.0,36.35,159.6,84.0,13.57,139.2,137.0,6.26,5.0,10,1.35,2.0,False
3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,265.9,82.0,22.60,241.4,77.0,10.86,13.7,4,3.70,0.0,False

In [23]:
df = pd.read_csv("hw_mobile.csv")
display(df.info())
print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3323 non-null   float64
 7   Total day calls         3323 non-null   float64
 8   Total day charge        3315 non-null   float64
 9   Total eve minutes       3324 non-null   float64
 10  Total eve calls         3325 non-null   float64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3332 non-null   float64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3328 non-null   float64
 18  Customer service calls  3328 non-null   float64
 19  Churn                   3325 non-null   object
dtypes: float64(12), int64(4), object(4)
memory usage: 520.9+ KB

None

In [25]:
df = pd.read_csv("hw_mobile.csv")
display(df.describe().transpose())
print()

,count,mean,std,min,25%,50%,75%,max
Account length,3333.0,101.064806,39.822106,1.00,74.00,101.00,127.000,243.00
Area code,3333.0,437.182418,42.371290,408.00,408.00,415.00,510.000,510.00
Number vmail messages,3333.0,8.099010,13.688365,0.00,0.00,0.00,20.000,51.00
Total day minutes,3323.0,179.787150,54.419625,0.00,143.70,179.40,216.500,350.80
Total day calls,3323.0,100.456214,20.057356,0.00,87.00,101.00,114.000,165.00
Total day charge,3315.0,30.557831,9.255987,0.00,24.42,30.50,36.780,59.64
Total eve minutes,3324.0,201.033935,50.676652,0.00,166.60,201.40,235.325,363.70
Total eve calls,3325.0,100.110677,19.932115,0.00,87.00,100.00,114.000,170.00
Total eve charge,3333.0,17.083540,4.310668,0.00,14.16,17.12,20.000,30.91
Total night minutes,3333.0,200.872037,50.573847,23.20,167.00,201.20,235.300,395.00
Total night calls,3332.0,100.115246,19.566710,33.00,87.00,100.00,113.000,175.00
Total night charge,3333.0,9.039325,2.275873,1.04,7.52,9.05,10.590,17.77
Total intl minutes,3333.0,10.237294,2.791840,0.00,8.50,10.30,12.100,20.00
Total intl calls,3333.0,4.479448,2.461214,0.00,3.00,4.00,6.000,20.00
Total intl charge,3328.0,2.764588,0.754086,0.00,2.30,2.78,3.270,5.40
Customer service calls,3328.0,1.563101,1.315870,0.00,1.00,1.00,2.000,9.00

In [27]:
df = pd.read_csv("hw_mobile.csv")
display(df.head())
print()
display(df.tail())
df.shape

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3328,AZ,192,415,No,Yes,36,156.2,77.0,26.55,215.5,126.0,18.32,279.1,83.0,12.56,9.9,6,2.67,2.0,False
3329,WV,68,415,No,No,0,231.1,57.0,39.29,153.4,55.0,13.04,191.3,123.0,8.61,9.6,4,2.59,3.0,False
3330,RI,28,510,No,No,0,180.8,109.0,30.74,288.8,58.0,24.55,191.9,91.0,8.64,14.1,6,3.81,2.0,False
3331,CT,184,510,Yes,No,0,213.8,105.0,36.35,159.6,84.0,13.57,139.2,137.0,6.26,5.0,10,1.35,2.0,False
3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,265.9,82.0,22.60,241.4,77.0,10.86,13.7,4,3.70,0.0,False

(3333, 20)

In [35]:
df = pd.read_csv("hw_mobile.csv")
print(df['State'].unique())

['KS' 'OH' 'NJ' 'OK' 'AL' 'MA' 'MO' 'LA' 'WV' 'IN' 'RI' 'IA' 'MT' 'NY'
 'ID' 'VT' 'VA' 'TX' 'FL' 'CO' 'AZ' 'SC' 'NE' 'WY' 'HI' 'IL' 'NH' 'GA'
 'AK' 'MD' 'AR' 'WI' 'OR' 'MI' 'DE' 'UT' 'CA' 'MN' 'SD' 'NC' 'WA' 'NM'
 'NV' 'DC' 'KY' 'ME' 'MS' 'TN' 'PA' 'CT' 'ND']

In [37]:
df = pd.read_csv("hw_mobile.csv")
print(df[['State', 'International plan']].drop_duplicates())

     State International plan
0       KS                 No
1       OH                 No
2       NJ                 No
3       OH                Yes
4       OK                Yes
...    ...                ...
1209    CT                Yes
1837    NH                Yes
1977    SC                Yes
2044    MT                Yes
3302    LA                Yes

[101 rows x 2 columns]

In [39]:
df = pd.read_csv("hw_mobile.csv")
print(df[df['International plan'] == 'Yes'])

     State  Account length  Area code International plan Voice mail plan  \
3       OH              84        408                Yes              No
4       OK              75        415                Yes              No
5       AL             118        510                Yes              No
7       MO             147        415                Yes              No
9       WV             141        415                Yes             Yes
...    ...             ...        ...                ...             ...
3304    IL              71        510                Yes              No
3309    VT             100        408                Yes              No
3317    SD             163        415                Yes              No
3320    GA             122        510                Yes              No
3331    CT             184        510                Yes              No

      Number vmail messages  Total day minutes  Total day calls  \
3                         0              299.4             71.0
4                         0              166.7            113.0
5                         0              223.4             98.0
7                         0              157.0             79.0
9                        37              258.6             84.0
...                     ...                ...              ...
3304                      0              186.1            114.0
3309                      0              219.4            112.0
3317                      0              197.2             90.0
3320                      0              140.0            101.0
3331                      0              213.8            105.0

      Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
3                50.90               61.9             88.0              5.26
4                28.34              148.3            122.0             12.61
5                37.98              220.6            101.0             18.75
7                26.69              103.1             94.0              8.76
9                43.96              222.0            111.0             18.87
...                ...                ...              ...               ...
3304             31.64              198.6            140.0             16.88
3309             37.30              225.7            102.0             19.18
3317             33.52              188.5            113.0             16.02
3320             23.80              196.4             77.0             16.69
3331             36.35              159.6             84.0             13.57

      Total night minutes  Total night calls  Total night charge  \
3                   196.9               89.0                8.86
4                   186.9              121.0                8.41
5                   203.9              118.0                9.18
7                   211.8               96.0                9.53
9                   326.4               97.0               14.69
...                   ...                ...                 ...
3304                206.5               80.0                9.29
3309                255.3               95.0               11.49
3317                211.1               94.0                9.50
3320                120.1              133.0                5.40
3331                139.2              137.0                6.26

      Total intl minutes  Total intl calls  Total intl charge  \
3                    6.6                 7               1.78
4                   10.1                 3               2.73
5                    6.3                 6               1.70
7                    7.1                 6               1.92
9                   11.2                 5               3.02
...                  ...               ...                ...
3304                13.8                 5               3.73
3309                12.0                 4               3.24
3317                 7.8                 8               2.11
3320                 9.7                 4               2.62
3331                 5.0                10               1.35

      Customer service calls  Churn
3                        2.0  False
4                        3.0  False
5                        0.0  False
7                        0.0  False
9                        0.0  False
...                      ...    ...
3304                     4.0   True
3309                     4.0  False
3317                     1.0  False
3320                     4.0   True
3331                     2.0  False

[323 rows x 20 columns]